* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 240, 245);
}

h1{
    font-size: 44px;
    background-color:rgb(236, 119, 119);
    box-shadow: 3px 3px 3px rgb(90, 68, 68);
}

h1, h2 {
    font-weight: 700;
    font-style: italic;
    letter-spacing: 5px;    
    border-radius: 40px;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 32px;
    background-color: rgb(136, 110, 110);
    width: 25%;
    box-shadow: 3px 3px 3px rgb(59, 45, 45);
}

table {
    border: 4px solid rgb(90, 68, 68);
    background-color: rgb(241, 166, 166);
    margin: 30px auto;  
    padding: 10px; 
}

thead td{
    background-color: rgb(236, 119, 119);
    vertical-align: middle;
    border: 2px solid rgb(90, 68, 68);
    font-weight: 700;
    letter-spacing: 2px;
}

td {
   border: 1px solid rgb(90, 68, 68);
   background-color: rgb(252, 221, 221);
   padding: 3px 5px;
   
}

.underline {
    text-decoration: underline;
    color: red;
}

.code {
    font-family: monospace;
    background-color:rgb(240, 180, 128);
}

#footer-img {
    width: 30%;
    float: right;
    margin: 20px;
}