/* My fontfamilies : Mali (titles), Raleway (body), Nanum Gothic Coding (code snippets) */
/* Color Theme Swatches in RGBA
 PINK color: rgba(216, 143, 204, 1);
 BLACK color: rgba(2, 12, 10, 1);
 WHITE color: rgba(242, 231, 222, 1);
 YELLOW color: rgba(247, 162, 113, 1);
 ORANGE color: rgba(242, 117, 72, 1); */

table {
    border: 4px double rgba(2, 12, 10, 1);
    border-radius: 3px;
    background-color: rgba(216, 143, 204, 1);
    margin: 20px auto;  
    padding: 5px; 
    width: 90%;
}

thead td{
    background-color: rgba(242, 117, 72, 1);
    color: rgba(242, 231, 222, 1);
    vertical-align: middle;
    border: 3px solid rgba(2, 12, 10, 1);
    letter-spacing: 2px;
}

td {
   font-weight: 500;
   border: 1px solid rgba(2, 12, 10, 1);
   background-color: rgba(242, 231, 222, 1);
   padding: 5px 5px;
}



