/* My fontfamilies : Mali (titles), Raleway (body), Nanum Gothic Coding (code snippets) */
/* Color Theme Swatches in RGBA
 PINK color: rgba(216, 143, 204, 1);
 BLACK color: rgba(2, 12, 10, 1);
 WHITE color: rgba(242, 231, 222, 1);
 YELLOW color: rgba(247, 162, 113, 1);
 ORANGE color: rgba(242, 117, 72, 1); */

table {
    border: 6px double rgba(2, 12, 10, 1);
    border-radius: 5px;
    background-image: linear-gradient(to top, rgba(216, 143, 204, 1), rgba(216, 143, 204, 0.6));
    margin: 20px auto;  
    padding: 5px; 
    width: 90%;
}

thead td{
    background-color: rgba(242, 117, 72, 1);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(247, 162, 113, 1);
    vertical-align: middle;
    border: 3px solid rgba(2, 12, 10, 1);
    letter-spacing: 2px;
}

td {
   font-weight: 500;
   border: 1px solid rgba(2, 12, 10, 1);
   background-color: rgb(255, 255, 255);
   padding: 5px 5px;
}

td li{
    font-size: 0.9rem;
    background-color: transparent;
}

td ul{
    background-color: transparent;
}

td .bold, td .italic{
    background-color: transparent;
}

