/* My fontfamilies : Mali (titles), Raleway (body), Nanum Gothic Coding (code snippets) */
/* Color Theme Swatches in RGBA
 PINK color: rgba(216, 143, 204, 1);
 BLACK color: rgba(2, 12, 10, 1);
 WHITE color: rgba(242, 231, 222, 1);
 YELLOW color: rgba(247, 162, 113, 1);
 ORANGE color: rgba(242, 117, 72, 1); */

* {
    font-family:'Raleway', Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.3rem;
    color: rgba(2, 12, 10, 1);
    background-color: rgba(242, 231, 222, 1);
}

h1, h2, h3 {
    font-family: 'Mali', serif;
    font-weight: 700;   
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    line-height: 40px;
    letter-spacing: 3px; 
    padding: 25px 15px;
    background-image: linear-gradient(to bottom, rgba(216, 143, 204, 1), rgba(216, 143, 204, 0.6));
    border: 2px solid rgba(2, 12, 10, 1);
    margin: 15px auto;
    box-shadow: 1px 1px 2px rgba(2, 12, 10, 1);
}

h2 {
    font-size: 2rem;
    line-height: 30px;
    background-image: linear-gradient(to bottom, rgba(2, 12, 10, 1), rgba(2, 12, 10, 0.8));
    color: rgb(255, 255, 255);
    width: fit-content;
    min-width: 250px;
    padding: 10px 20px;
    margin: 50px auto 20px auto;
}

h3 {
    background-color: transparent;
    color: rgba(242, 117, 72, 1);
    text-shadow: 1px 1px 1px rgba(2, 12, 10, 1);
    letter-spacing: 5px;
    font-size: 1.5rem;
    margin: 20px;
}

h4 {
    font-size: 1.1rem;
    text-decoration: underline;
}

.page-link {
    align-self: flex-start;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.4s ease-out;

    font-family: 'Raleway', Verdana, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgba(247, 162, 113, 1), rgba(242, 117, 72, 1));
    color: rgba(2, 12, 10, 1);
    border: 1px solid rgba(242, 117, 72, 1);
    text-decoration: none;
}

.page-link:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.page-link:active {
    background-color: rgba(242, 117, 72, 1);
    box-shadow: 0px 0px;
}

.section-nav {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.section-nav ul{
    display: inline-flex;
}

.section-nav li {
    margin: 0 30px;
    list-style:none;
    transition: all 0.4s ease-out;
}

.section-nav li:hover {
    transform: scale(1.25);
    
}

.section-nav li a:hover{
    color: rgba(242, 117, 72, 1);
    
}

.underline {
    text-decoration: underline;
    color: red;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.code {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 0.9rem;
    background-color: rgba(247, 162, 113, 1);
    border: 1px solid black;
    padding: 2px 5px;
}

#footer-img {
    min-width: 250px;
    width: 30%;
    float: right;
    margin: 20px;
}


@media only screen and (max-width: 640px) {
    *{
        font-size: 16px;
    }
    
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    p, td {
        font-size: 0.8rem;
    }

    .page-link {
        max-width: 275px;
        font-size: 0.75rem;
        text-align: center;
        padding: 5px 8px;
        margin-right: 10px;
        margin-left: 5px;
    }

    .section-nav li {
        transform: scale(1.1);
        margin: 0 10px;
    }

    .section-nav li a{
        font-size: 0.8rem;
    }

    table{
        width: 100%;
    }

    td, .code{
        font-size: 0.8rem;
        line-height: 1.125rem;
    }

    .bold, .italic {
        font-size: 0.85rem;
    }

}